.footer-links-list ul { padding-left:0 }
.footer-links-list ul li {margin-bottom:15px; list-style-type:none;padding-left:0 }
.footer-links-list a {text-decoration:none; color:var(--bs-body-color);}

body{
  font-family: 'Hanken Grotesk', sans-serif !important;
/* font-family: 'Poppins', sans-serif; */

}
.logo{
  height: 45px;
  width: 40px;
}
li{
  padding: 0px 25px;
}
.nvb{
  position: fixed;
    z-index: 2;
    width: 100%;
}
.imginfo{
  width: 200px;
  height: 150px;
}